---
import IngredientList from "../../components/IngredientList.astro";
export async function getStaticPaths() {
    const recipes = await Astro.glob('../../content/recipes/*.md')

    return recipes.map((it) => ({
        params: {
            name: it.frontmatter.id
        },
        props: {
            recipe: it
        },
    }))
}

const { recipe } = Astro.props

import Layout from "../../layouts/Layout.astro";
import Steps from "../../components/Steps.astro";
---
<Layout>
    <img class="header-image image content-box" src={recipe.frontmatter.image}>
    <h1 class="title content-box">{recipe.frontmatter.name}</h1>
    <p>{recipe.frontmatter.description}</p>
    <IngredientList ingredients={recipe.frontmatter.ingredients} />
    <Steps steps={recipe.frontmatter.steps} />
</Layout>

<style>
    .title {
        background: var(--signalpink);
        color: var(--flatpink);
        border-color: var(--darkred);
    }
    .header-image {
        width: 100%;
        padding: 0;
        aspect-ratio: 16 / 9;
        object-fit: cover;
        margin-top: 10px;
    }
</style>