---
import {type IngredientGroup} from "../content/config";
interface Props {
    ingredientGroups: Array<IngredientGroup>;
}

const {ingredientGroups} = Astro.props;
---
<div class="ingredients content-box">
    <ul>
        {ingredientGroups.map(group => (
            <li>{group.name}
                <ul>
                    {group.ingredients.map(ingredient => (
                        <li>{ingredient.amount} {ingredient.unit} {ingredient.name}</li>
                    ))}
                </ul>
            </li>
        ))}
    </ul>
</div>
<style>
    .ingredients {
        padding: 10px;
        background: var(--flatgreen);
        border-color: var(--darkgreen);
    }
</style>
